<div id="topbar">
    <div class="container">
        <div class="row">
            <div id="nav" class="span12 light">

                <!-- START MAIN NAVIGATION -->

                <ul id="menu-menu" class="level-1">
                    <li>
                        <a href="@Url.Action("Index","Home")">Anasayfa</a>
                    </li>       
                    <li>
                        <a href="#">Arıza Bildir</a>
                    </li>
                    <li>
                        <a href="#">Hakkımızda</a>
                    </li>
                    <li>
                        <a href="#">İletişim</a>
                    </li>
                    @if (HttpContext.Current.User.Identity.IsAuthenticated)
                    {
                        <li>
                            <a style="color:white;"><strong>Hoşgeldin @HttpContext.Current.User.Identity.GetUserName()</strong> </a>
                            <ul class="sub-menu">

                                <li> <a href="@Url.Action("Profile","Account")">Profilim</a>  </li>
                                <li><a href="@Url.Action("Logout","Account")">Çıkış Yap</a></li>

                            </ul>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a>Üyelik</a>
                            <ul class="sub-menu">
                                <li><a href="@Url.Action("Login","Account")">Giriş Yap</a></li>
                                <li><a href="@Url.Action("Register","Account")">Kayıt Ol</a></li>

                            </ul>
                        </li>
                    }
                  
                </ul>
                <!-- END MAIN NAVIGATION -->

            </div>
        </div>
    </div>
</div>
